<h1>Edit User</h1>
<% form_for(@user) do |u| %>
  <%= u.error_messages %>
  <p>
    <%= u.label :username %><br />
    <%= u.text_field :username %>
  </p>
   <p>
    <%= u.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %>
<%= link_to 'Back', users_path %>
